extends layout

block content
  .file-upload.result
    if isedited
      h1.no= "EDITED"
    else
      h1.yes= "ORIGINAL"
    p !{message}
    a(href='/', title='Check another image') Check another image
    hr
    //- pre Log data:
    //- pre= data